/* Variables */
:root {
  --background-color: rgb(255, 254, 235);
  --background-color-landing-text: rgba(255, 254, 235, 0.438);
  --text-primary-color: #000000;
  --decoration-color: #d07242;
  --headers-font: "Archivo Black", sans-serif;
  --tablet: 800px;
  --widescreen: 1450px;
  --padding-inline: 4rem;
}

/* Common styles for input elements */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: var(--decoration-color);
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Text selection style */
::-moz-selection {
  background-color: var(--decoration-color);
  color: var(--background-color);
}
::selection {
  background-color: var(--decoration-color);
  color: var(--background-color);
}

/* Global styles */
html {
  font-family: "Space Mono", monospace;
  color: var(--text-primary-color);
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100%;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

/* Links and anchor tags */
a {
  color: var(--text-primary-color);
  text-decoration: none;
}
a:focus-visible {
  outline: 5px solid var(--decoration-color);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* Headings */
.h-1,
.h-2 {
  font-family: var(--headers-font);
  text-transform: uppercase;
}

.h-1 {
  font-size: clamp(1rem, 4.5vw, 4rem);
}

.h-2 {
  font-size: clamp(1rem, 2vw, 2rem);
}

.text {
  font-size: clamp(1rem, 1.2vw, 1.1rem);
  text-align: center;
}

/* Alignment classes */
.align-left {
  text-align: left;
}

.text-outline {
  -webkit-text-stroke: 1px var(--text-primary-color);
  color: transparent;
}

.scroll-filling {
  height: 100vh;
}

.italics {
  font-style: italic;
}

.centered {
  text-align: center;
}

/* Tool styles */
.tools {
  margin-top: 1.5rem;
  font-size: 3rem;
  background-color: var(--background-color);
  padding: 0.5rem;
}

.repo,
.link {
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  transition: 200ms;
  background-color: var(--background-color);
  padding: 0.2rem;
  border: 2px solid var(--text-primary-color);
}
.repo:hover,
.link:hover {
  box-shadow: inset 0 -2em 0 rgb(0, 0, 0);
  border-bottom: 2px solid var(--text-primaryColor);
  color: var(--background-color);
  transition: 200ms;
}

/* Horizontal rule */
.horizontal-rule {
  width: 100%;
  color: var(--text-primary-color);
  background-color: var(--text-primary-color);
  height: 2px;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem var(--padding-inline);
  border-bottom: 2px solid black;
  background-color: var(--background-color);
  z-index: 100;
}
.navbar__logo {
  padding: 5px;
  font-size: 2rem;
  text-decoration: none;
  font-family: var(--headers-font);
}
.navbar__logo:hover {
  scale: 1.2;
  transition: 100ms;
}
.navbar .navbar__menubtn {
  display: none;
}
.navbar .navbar__container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  transition: 100ms;
}
.navbar .navbar__container .navbar-logo:hover {
  scale: 1.2;
  transition: 100ms;
}
.navbar .navbar__container .navbar-logo img {
  width: 40px;
}
.navbar .navbar__container .menu__item {
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding: 5px;
  cursor: pointer;
  border: 2px solid transparent;
}
.navbar .navbar__container .menu__item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--text-primaryColor);
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}
.navbar .navbar__container .menu__item:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--text-primaryColor);
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}
.navbar .navbar__container .menu__item.active {
  border: 2px solid var(--text-primaryColor);
}
.navbar .navbar__container .menu__item.active::after {
  content: "";
  position: absolute;
  width: 0;
  background-color: var(--text-primaryColor);
  left: 0;
  bottom: 0;
  transition: none;
}
.navbar .navbar__container .menu__item.active::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: var(--text-primaryColor);
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}
.navbar .menu-container {
  gap: 3.75rem;
}

/* Landing page */
/* Landing Section */
.landing {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8.33%;
  margin-inline: var(--padding-inline);
  height: calc(100vh - 76px);
}
.landing .col-1 {
  background-image: url("../assets/images/desktop/block.png");
  background-repeat: no-repeat;
  background-size: contain;
  flex-basis: 620px;
  padding-left: clamp(10px, 9vw, 140px);
  padding-right: 3vw;
}
.landing .col-1 .h-1 {
  margin-top: 12px;
  margin-bottom: 46px;
}
.landing .col-1 .h-2 {
  margin-bottom: 57px;
}
.landing .col-1 .text {
  margin-bottom: 100px;
  padding: 5px;
  background-color: var(--background-color-landing-text);
}
.landing .col-2 {
  flex-shrink: 4;
}
.landing .col-2 img {
  width: 100%;
}

/* About Section */
.about {
  background-color: var(--background-color);
  background-image: url("../assets/images/desktop/about.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8vw;
  position: relative;
  overflow: hidden;
  z-index: 3;
}
.about picture {
  display: none;
}
.about .text {
  background-color: rgba(255, 254, 235, 0.7);
}

/* Projects Section */
.projects {
  position: relative;
  z-index: 2;
  text-align: center;
  min-height: 100vh;
  margin-bottom: 5rem;
}
.projects .projects__container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-direction: column;
  padding: 2rem;
}
.projects .projects__container .container_col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background-image: url("../assets/images/desktop/simplex.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.projects .projects__container .container_col .col__project {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 330px;
  max-width: 70vw;
  aspect-ratio: 1.5;
  transition: 200ms;
}
.projects .projects__container .container_col .col__project:hover {
  scale: 1.1;
  transition: 200ms;
}
.projects .projects__container .container_col .text {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: var(--background-color);
}
.projects .projects__container .container_col .project1 {
  background-image: url("../assets/images/desktop/project1.png");
}
.projects .projects__container .container_col .project2 {
  background-image: url("../assets/images/desktop/project2.png");
}
.projects .projects__container .container_col .project3 {
  background-image: url("../assets/images/desktop/project3.png");
}
.projects .projects__container .container_col .project4 {
  background-image: url("../assets/images/desktop/project4.png");
}

/* Contact Section */
.contact {
  margin-top: 5rem;
  margin-bottom: 5rem;
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .socials {
  display: flex;
  gap: 2rem;
  align-self: center;
}
.contact .contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact .contact__container a {
  padding: 15px;
}
.contact .contact__container a:hover p {
  box-shadow: inset 0 -2em 0 rgb(0, 0, 0);
  border-bottom: 2px solid var(--text-primaryColor);
  color: var(--background-color);
}
.contact .contact__container a:hover img {
  cursor: pointer;
  scale: 1.2;
  transition: 200ms;
}
.contact .contact__container .container__col {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.contact .contact__container .contact__icon {
  width: 50px;
}

/* Responsiveness */
@media (min-width: var(--widescreen)) {
  .landing,
  .about {
    margin-inline: calc((100vw - 1450px) / 2);
  }
}
@media (max-width: 1350px) {
  .landing .col-1 {
    background-image: url("../assets/images/tablet/block-tablet.png");
    background-size: cover;
  }
  .landing .col-1 .h-1 {
    margin-bottom: 6%;
  }
  .about {
    flex-direction: column;
    background-image: none;
    gap: 8vw;
    overflow: hidden;
  }
  .about .about__col {
    max-width: 433px;
  }
  .about picture {
    display: block;
  }
}
/* Continue adding media queries for other screen sizes */
@media (max-width: 1000px) {
  .landing .col-1 .h-1 {
    margin-top: 5%;
    margin-bottom: 9%;
  }
}
@media (max-width: var(--tablet)) {
  :root {
    --padding-inline: 2rem;
  }
  .h-1 {
    font-size: clamp(1rem, 8vw, 5rem);
  }
  .h-2 {
    font-size: clamp(1rem, 5vw, 4rem);
  }
  .text {
    text-align: left;
    font-size: clamp(1rem, 2.5vw, 2rem);
  }
  .navbar {
    top: 0;
    padding: 0.5rem var(--padding-inline);
  }
  .navbar.scrolled {
    background-color: var(--background-color);
    border-bottom: 2px solid var(--text-primaryColor);
    transition: background-color 200ms ease, border-bottom 200ms ease;
  }
  .navbar .navbar__container {
    gap: 1rem;
  }
  .navbar .menu-container {
    height: 0;
    flex-direction: column;
    gap: 0;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    top: 100%;
    right: calc(0% + var(--padding-inline) / 1.5);
    transition: height 200ms ease, padding 200ms ease, gap 200ms ease;
  }
  .navbar .menu-container .menu__item {
    display: none;
  }
  .navbar .menu-container.show {
    height: 15rem;
    padding: 30px;
    border: 2px solid var(--text-primaryColor);
    border-top-color: var(--background-color);
    border-top-width: 4px;
    gap: 1.5rem;
    background-color: var(--background-color);
    transition: height 200ms ease, padding 200ms ease, gap 200ms ease, background-color 200ms ease;
  }
  .navbar .menu-container.show .menu__item {
    display: block;
  }
  .navbar .navbar__menubtn {
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    display: block;
    background-color: transparent;
    background-size: contain;
    width: 40px;
    height: 30px;
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar .navbar__menubtn .menubtn__line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--text-primaryColor);
  }
  .navbar .navbar__menubtn .line-one,
  .navbar .navbar__menubtn .line-three {
    transition: 100ms ease-in-out;
  }
  .navbar .navbar__menubtn.close .line-one {
    transform: rotate(45deg);
    transform-origin: 1px;
    transition: 150ms ease;
  }
  .navbar .navbar__menubtn.close .line-two {
    display: none;
  }
  .navbar .navbar__menubtn.close .line-three {
    transform: rotate(-45deg);
    transform-origin: 0;
    transition: 150ms ease;
  }
  .scroll-filling {
    position: absolute;
    display: none;
  }
  .landing {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 0;
    margin-bottom: 40px;
    margin-inline: 0;
    gap: 28px;
    position: relative;
  }
  .landing .col-1 {
    padding-left: 13vw;
    padding-right: 3rem;
    background-size: contain;
    flex-basis: content;
  }
  .landing .col-1 .h-1 {
    margin-top: 3.5dvw;
    margin-bottom: 6dvw;
  }
  .landing .col-1 .h-2 {
    margin-bottom: 6dvw;
  }
  .landing .col-1 .text {
    padding-bottom: 30px;
  }
  .landing .col-2 {
    position: static;
    bottom: 0;
    display: flex;
    justify-content: center;
  }
  .landing .col-2 img {
    width: 80%;
  }
}
@media (max-width: 540px) {
  .landing .col-1 {
    background-image: url("../assets/images/mobile/block-mobile.png");
    background-size: cover;
    padding-right: 1rem;
  }
  .landing .col-1 .h-1 {
    margin-top: 7dvw;
    margin-bottom: 8dvw;
  }
}
@media (max-width: 400px) {
  .contact .contact__container .container__col .contact__icon {
    width: 1rem;
  }
}
@media (max-width: 380px) {
  .landing .col-1 {
    background-image: url("../assets/images/mobile/up-block-mobile.png");
    background-size: contain;
  }
  .landing .col-1 .text {
    background-color: rgba(122, 122, 122, 0.44);
  }
  .contact .contact__container {
    align-items: center;
  }
  .contact .contact__container .container__col .contact__icon {
    display: none;
  }
}
/* Media queries for smaller screens */
@media (max-width: 320px) {
  .h-1 {
    font-size: clamp(1rem, 6vw, 4rem);
  }
  .h-2 {
    font-size: clamp(1rem, 4vw, 3rem);
  }
  .text {
    font-size: 1.2rem;
  }
  .navbar__container {
    flex-direction: column;
    gap: 0;
  }
  .navbar__menubtn {
    width: 30px;
    height: 20px;
  }
  .navbar__menubtn .menubtn__line {
    height: 2px;
  }
}
/* General layout adjustments for smaller screens */
@media (max-width: 768px) {
  .landing {
    gap: 16px;
  }
  .landing .col-1 {
    padding-left: 2rem;
  }
  .about {
    background-size: 80%;
  }
  .projects {
    margin-bottom: 3rem;
  }
  .projects .projects__container {
    gap: 2rem;
    flex-direction: column;
  }
  .projects .projects__container .container_col .col__project {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1.2;
  }
}
/* Adjustments for smaller screens in contact section */
@media (max-width: 768px) {
  .contact .socials {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .contact .contact__container .container__col {
    gap: 1rem;
  }
}/*# sourceMappingURL=chatstyle.css.map */