//VARIABLES
$backgroundColor: #FFFEEB;
$textPrimaryColor: #000000;

$headersFont: 'Archivo Black',sans-serif;
$mainFont: 'Space Mono',monospace;

$tablet: 800px;

$paddingInline: 4rem;

//UTILITY
.h-1 {
    font-family: $headersFont;
    font-size: calc(70rem/16);
    text-transform: uppercase;
}

.h-2 {
    font-family: $headersFont;
    font-size: 2rem;
    text-transform: uppercase;
}

.text {
    font-family: $mainFont;
    font-size: calc(20rem/16);
}

.text {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $backgroundColor;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem $paddingInline;
    border-bottom: 2px solid black;
    .navbar__menubtn {
        display: none;
    }
    .navbar__container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        .navbar-logo {
            & img {
                width: 40px;
            }
        }
        .menu__item {
            font-family: $mainFont;
            font-size: calc(20rem/16);
            text-decoration: none;
            text-transform: uppercase;
            color: $textPrimaryColor;
            position: relative;
            padding: 5px;
            cursor: pointer;
            border: 2px solid transparent;
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                background-color: $textPrimaryColor;
                left: 0;
                bottom: 0;
                transition: width 0.3s ease-in-out;
            }
            &:hover::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $textPrimaryColor;
                left: 0;
                bottom: 0;
                transition: width 0.3s ease-in-out;
            }
            &.active {
                border: 2px solid $textPrimaryColor;
            }
            &.active::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $textPrimaryColor;
                left: 0;
                bottom: 0;
                transition: width 0.3s ease-in-out;
            }
            &.active::before {
                content: "";
                position: absolute;
                width: 2px;
                height: 100%;
                background-color: $textPrimaryColor;
                left: 0;
                bottom: 0;
                transition: width 0.3s ease-in-out;
            }
        }
    }
    .menu-container {
        gap: calc(60rem/16);
    }
}

.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8.33%;
    margin-top: 41px;
    margin-inline: $paddingInline;
    .col-4 {
        background-image: url("../assets/images/desktop/block.png");
        background-repeat: no-repeat;
        flex-basis: 850px;
        padding-left: 120px;
        .h-1 {
            margin-bottom: 48px;
        }
        .h-2 {
            margin-bottom: 48px;
        }
        .text {
            padding-bottom: 40px;
        }
    }
}

.about {
    min-height: 100vh;
}

@media (max-width: $tablet) {
    .navbar {
        position: relative;
        .menu-container {
                height: 0;
                flex-direction: column;
                gap: 0;
                padding-left: 30px;
                padding-right: 30px;
                position: absolute;
                top: calc(100%);
                right: calc(0% + ($paddingInline/1.5));
                transition: height 200ms ease, padding 200ms ease, gap 200ms ease;
            .menu__item {
                display: none;
                }
            &.show {
                height: 15rem;
                padding: 30px;
                border: 2px solid $textPrimaryColor;
                border-top-color: $backgroundColor;
                border-top-width: 4px;
                gap: 1.5rem;
                transition: height 200ms ease, padding 200ms ease, gap 200ms ease;
                .menu__item {
                    display: block;
                    }
                }
            }
        .navbar__menubtn {
            display: block;
            background-color: $textPrimaryColor;
            background-size: contain;
            width: 40px;
            height: 30px;
            cursor: pointer;
            &.close {
                background-color: red;
            }
        }
    }
}