// VARIABLES
$color-background: rgb(255 254 235);
$color-background-landing-text: rgb(255 254 235 / 50%);
$color-text-primary: #000;
$color-decoration: #d07242;
$color-tap-highlight: #d071426c;
$color-box-shadow: rgb(0 0 0 / 50%);
$font-headers: 'Archivo Black', sans-serif;
$padding-inline: 4rem;

@media (width <= 800px) {
    $padding-inline: 2rem;
}

/* webkit highligth color */
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: $color-tap-highlight;
}

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Text selection style */
::selection {
    background-color: $color-decoration;
    color: $color-background;
}

/* Global styles */
html {
    font-family: 'Fira Code', monospace;
    color: $color-text-primary;
}

body {
    background-color: $color-background;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100%;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    color: $color-text-primary;
    text-decoration: none;

    &:focus-visible {
        outline: 5px solid $color-decoration;
        box-shadow: 5px 5px 5px 5px $color-box-shadow;
    }
}

/* Modificators */
.h-1 {
    font-family: $font-headers;
    text-transform: uppercase;
    font-size: 2.5rem;

    @media (width <= 620px) {
        font-size: 2rem;
    }

    @media (width <= 420px) {
        font-size: 1.5rem;
    }
}

.h-2 {
    font-family: $font-headers;
    text-transform: uppercase;
    font-size: 1.5rem;

    @media (width <= 620px) {
        font-size: 1.25rem;
    }

    @media (width <=420px) {
        font-size: 1rem;
    }
}

.text {
    font-size: 1rem;
}

.repo-description {
    color: $color-text-primary;
    background-color: $color-background;
    padding: .2rem;
    border: 2px solid $color-text-primary;
    transition: 200ms;

    &:hover {
        box-shadow: inset 0 -150px 0 rgb(0 0 0);
        border-bottom: 2px solid $color-text-primary;
        color: $color-background;
        transition: 300ms;
    }
}

.tag {
    color: $color-decoration;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.scroll-filling {
    height: 100vh;

    @media (width <= 920px), (width <= 1000px) and (height <= 630px), (height <=520px) {
        position: absolute;
        display: none;
    }
}

.italics {
    font-style: italic;
}

.link {
    text-decoration: none;
    border-bottom: 1px solid $color-text-primary;
    box-shadow: inset 0 -1px 0 $color-text-primary;
    transition: box-shadow 370ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1);

    &:hover {
        box-shadow: inset 0 -2em 0 rgb(0 0 0);
        border-bottom: 2px solid $color-text-primary;
        color: $color-background;
    }

    &:visited {
        color: $color-decoration;
    }
}

.horizontal-rule {
    width: 100%;
    color: $color-text-primary;
    background-color: $color-text-primary;
    height: 2px;
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem $padding-inline;
    border-bottom: 2px solid $color-text-primary;
    background-color: $color-background;
    z-index: 100;

    @media (width <= 1000px) and (height <= 630px), (height <=520px) {
        max-width: fit-content;
        left: 100%;
        border: none;
        background: transparent;
        padding: 1.5rem;
    }

    @media (width <= 620px) {
        padding: .3rem 1.5rem;
    }
}

.navbar__logo {
    padding: 5px;
    font-size: 2rem;
    text-decoration: none;
    font-family: $font-headers;

    &:hover {
        scale: 1.2;
        transition: 100ms;
    }

    @media (width <= 1000px) and (height <= 630px), (height <=520px) {
        display: none;
    }
}

.navbar__menubtn {
    display: none;  

    @media (width <= 800px), (width <= 1000px) and (height <= 630px), (height <=520px) {
        backdrop-filter: none;
        background-color: transparent;
        background-size: contain;
        width: 40px;
        height: 30px;
        cursor: pointer;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.close {
            .line-one {
                transform: rotate(45deg);
                transform-origin: 1px;
                transition: 150ms ease;
            }
    
            .line-two {
                display: none;
            }
    
            .line-three {
                transform: rotate(-45deg);
                transform-origin: 0;
                transition: 150ms ease;
            }
         }
    }
}

.navbar__line {
    @media (width <= 800px), (width <= 1000px) and (height <= 630px), (height <=520px) {
        display: block;
        width: 100%;
        height: 3px;
        background-color: $color-text-primary;

        .line-one, .line-three {
                transition: 100ms ease-in-out;
        }
    }
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    transition: 100ms;

    @media (width <= 800px), (width <= 1000px) and (height <= 630px), (height <=520px) {
        gap: 1rem;
    }
}

.menu-container {
    gap: calc(60rem / 16);

    @media (width <= 800px), (width <= 1000px) and (height <= 630px), (height <=520px) {
        height: 0;
        flex-direction: column;
        gap: 0;
        padding-left: 30px;
        padding-right: 30px;
        position: absolute;
        top: calc(100%);
        right: calc(0% + ($padding-inline / 1.5));
        transition: height 200ms ease, padding 200ms ease, gap 200ms ease;

        &.show {
            height: 15rem;
            padding: 30px;
            border: 2px solid $color-text-primary;
            border-top-color: $color-background;
            border-top-width: 4px;
            background-color: $color-background;
            transition: height 200ms ease, padding 200ms ease, gap 200ms ease, background-color 200ms ease;
        
            .navbar__item {
                display: block;
            }
        }
    }

    @media (width <= 800px), (width <= 1000px) and (height <= 630px), (height <=520px) {
        right: -300px;

        &.show {
            right: 0;
            border: 2px solid $color-text-primary;
            border-right-color: $color-background;
            transition: background-color 200ms ease, right 200ms ease;
        }
    }
}

.navbar__item {
    font-size: calc(20rem / 16);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    padding: 5px;
    cursor: pointer;
    border: 2px solid transparent;

    @media (width <= 800px), (width <= 1000px) and (height <= 630px), (height <= 520px) {
        display: none;
    }

    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        background-color: $color-text-primary;
        left: 0;
        bottom: 0;
        transition: width 0.3s ease-in-out;
    }

    &:hover::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $color-text-primary;
        left: 0;
        bottom: 0;
        transition: width 0.3s ease-in-out;
    }

    &.active {
        border: 2px solid $color-text-primary;
    }

    &.active::after {
        content: "";
        position: absolute;
        width: 0;
        background-color: $color-text-primary;
        left: 0;
        bottom: 0;
        transition: none;
    }

    &.active::before {
        content: "";
        position: absolute;
        width: 0;
        height: 100%;
        background-color: $color-text-primary;
        left: 0;
        bottom: 0;
        transition: width 0.3s ease-in-out;
    }
}

/* Landing */
.landing {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8.33%;
    margin-inline: $padding-inline;
    height: calc(100dvh - 76px);

    @media (width >= 1450px) {
        margin-inline: calc((100vw - 1450px) / 2);
    }

    @media (width <= 1000px) and (height <= 630px), (height <=520px) {
        height: fit-content;
        position: relative;
        margin-inline: 2rem;
        top: -50px;
    }

    @media (width <= 920px) {
        height: fit-content;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        margin-top: 0;
        margin-bottom: 40px;
        margin-inline: 0;
        gap: 28px;
        position: relative;
    }
}

.landing__col1 {
    background-image: url("../assets/images/desktop/block.png");
    background-repeat: no-repeat;
    background-size: contain;
    flex-basis: 620px;
    padding-left: 6rem;
    padding-right: 3vw;
    flex-shrink: 0;

    @media (width <= 920px) {
        padding-left: 95px;
        padding-right: 3rem;
        margin-top: 3rem;
        flex-basis: content;
        max-width: 620px;
        align-self: center;
    }

    @media (width <= 920px ) and (height <= 630px) {
        margin-top: 0;
    }

    @media (width <= 620px) {
        background-image: url("../assets/images/tablet/block-tablet-2.png");
        background-size: cover;
        padding-left: 2rem;
        padding-right: 2rem;
        aspect-ratio: 1;
    }

    @media (width <= 520px) {
        aspect-ratio: .8;
        background-size: contain;
    }

    @media (width <= 460px) {
        background-image: url("../assets/images/mobile/block-mobile-1.png");
        aspect-ratio: .6;
    }

    @media (width <= 410px) {
        background-image: url("../assets/images/mobile/block-mobile-2.png");
    }

    @media (width <= 362px) {
        background-image: url("../assets/images/mobile/block-mobile-3.png");
    }
}

.landing__h1 {
    margin-top: 1.5rem;
    margin-bottom: 2.1rem;

    @media (width <= 1000px) and (height <= 630px) {
        margin-top: 1rem;
        margin-bottom: 2.5rem;
    }

    @media (width <= 460px) {
        margin-top: 1rem;
        margin-bottom: 1.8rem;
    }

    @media (width <=420px) {
        margin-top: 7vw;
        margin-bottom: 7vw;
    }
}

.landing__h2 {
    margin-bottom: 1.8rem;

    @media (width <= 1000px) and (height <= 630px) {
        margin-bottom: 2rem;
    }

    @media (width <= 460px) {
        margin-bottom: 2.5rem;
    }
}

.landing__p {
    padding: 5px;
    padding-bottom: 1rem;
    background-color: $color-background-landing-text;

    @media (width <= 920px) {
        padding-bottom: 30px;
    }

    @media (width <= 620px) {
        max-width: 426px;
    }

    @media (width <= 460px) {
        max-width: 356px;
    }
}

.landing__col2 {
    flex-basis: 19%;

    @media (width <= 920px) {
        max-width: 320px;
        align-self: center;
        transform: translateX(-40%);
        display: flex;
        justify-content: center;
    }

    @media (width <= 520px) {
        max-width: 100vw;
        transform: translateX(0);
        margin-top: -2rem;
    }
}

.landing__img {
    width: 100%;

    @media (width <= 800px) {
        width: 80%;
    }

    @media (width <= 520px) {
        width: 100%;
    }
}

/* About */
.about {
    background-color: $color-background;
    background-image: url("../assets/images/desktop/about-fs8.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    position: relative;
    overflow: hidden;
    z-index: 3;

    @media (width >= 1450px) {
        margin-inline: calc((100vw - 1450px) / 2);
    }

    @media (width <= 1350px) {
        flex-direction: column;
        background-image: none;
        gap: 8vw;
        overflow: hidden;
    }

    @media (width <= 700px) {
        padding: 3rem;
        padding-top: 0;
    }
}

.about__heading {
    position: absolute;
    inset: 0;
    width: fit-content;
    height: fit-content;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;

    @media (min-width:1350px) {
        position: static;
        transform: none;
    }
}

.about__illustration {
    display: none;
    width: 393px;
    height: 63px;

    @media (width <= 1350px) {
        display: block;
    }
}

.about__image {
    width: 100%;
}

.about__col {
    background-color: rgb(255 254 235 / 70%);

    @media (width <= 1350px) {
        max-width: 75%;
    }

    @media (width <= 700px) {
        max-width: 100%;
    }
}

/* Projects */
.projects {
    position: relative;
    z-index: 2;
    text-align: center;
    min-height: 100vh;
    margin-bottom: 5rem;
}

.projects__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(390px, 400px));
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
    overflow-x: hidden;

    @media (width <= 1000px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.projects__col {
    justify-self: center;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-image: url("../assets/images/texture.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.projects__live {
    margin-top: 1rem;
    padding: .5rem;
    background-color: $color-background;
    width: 330px;
}

.projects__repo {
    text-decoration: none;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    transition: 200ms;
    background-color: $color-background;
    padding: .2rem;
    border: 2px solid $color-text-primary;

    &:hover {
        box-shadow: inset 0 -2em 0 rgb(0 0 0);
        border-bottom: 2px solid $color-text-primary;
        color: $color-background;
        transition: 200ms;
    }
}

.projects__project {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    width: 330px;
    max-width: 70vw;
    aspect-ratio: 1.5;
    transition: 200ms;

    &:hover {
        scale: 1.1;
        transition: 200ms;
    }
}

.project1 {
    background-image: url("../assets/images/desktop/1.png");
}

.project2 {
    background-image: url("../assets/images/desktop/2.png");
}

.project3 {
    background-image: url("../assets/images/desktop/3.png");
}

.project4 {
    background-image: url("../assets/images/desktop/5.png");
}

.projects__text {
    text-align: left;

    @media (width <= 50em) {
        text-align: center;
    }
}

/* Contact */
.contact {
    margin-top: 5rem;
    margin-bottom: 5rem;
    position: relative;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    display: flex;
    gap: 2rem;
    align-self: center;
}

.contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media (width <= 380px) {
        align-items: center;
    }
}

.contact__icon {
    width: 50px;

    @media (width <=400px) {
        width: 1rem;
    }

    @media (width <=380px) {
        display: none;
    }
}

.contact__anchor {
    padding: 15px;

    &:hover .contact__link {
        box-shadow: inset 0 -2em 0 rgb(0 0 0);
        border-bottom: 2px solid $color-text-primary;
        color: $color-background;
    }

    &:hover .contact__icon {
        cursor: pointer;
        scale: 1.2;
        transition: 200ms;
    }
}

.container__col {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}