/* webkit highligth color */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: #d07242;
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Text selection style */
::-moz-selection {
  background-color: #d07242;
  color: rgb(255, 254, 235);
}
::selection {
  background-color: #d07242;
  color: rgb(255, 254, 235);
}

/* Global styles */
html {
  font-family: "Space Mono", monospace;
  color: #000000;
}

body {
  background-color: rgb(255, 254, 235);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100%;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}
a:focus-visible {
  outline: 5px solid #d07242;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* Modificators */
.h-1 {
  font-family: "Archivo Black", sans-serif;
  font-size: clamp(1rem, 4.5vw, 4rem);
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .h-1 {
    font-size: clamp(1rem, 8vw, 5rem);
  }
}

.h-2 {
  font-family: "Archivo Black", sans-serif;
  font-size: clamp(1rem, 2vw, 2rem);
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .h-2 {
    font-size: clamp(1rem, 5vw, 4rem);
  }
}

.text {
  font-size: clamp(1rem, 1.2vw, 1.1rem);
  text-align: center;
}
@media (max-width: 800px) {
  .text {
    text-align: left;
    font-size: clamp(1rem, 2.5vw, 2rem);
  }
}

.align-left {
  text-align: left;
}

.scroll-filling {
  height: 100vh;
}
@media (max-width: 800px) {
  .scroll-filling {
    position: absolute;
    display: none;
  }
}

.italics {
  font-style: italic;
}

.repo {
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  transition: 200ms;
  background-color: rgb(255, 254, 235);
  padding: 0.2rem;
  border: 2px solid #000000;
}
.repo:hover {
  box-shadow: inset 0 -2em 0 rgb(0, 0, 0);
  border-bottom: 2px solid #000000;
  color: rgb(255, 254, 235);
  transition: 200ms;
}

.link {
  text-decoration: none;
  border-bottom: 1px solid #000000;
  box-shadow: inset 0 -1px 0 #000000;
  transition: box-shadow 370ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1);
}
.link:hover {
  box-shadow: inset 0 -2em 0 rgb(0, 0, 0);
  border-bottom: 2px solid #000000;
  color: rgb(255, 254, 235);
}
.link:visited {
  color: #d07242;
}

.horizontal-rule {
  width: 100%;
  color: #000000;
  background-color: #000000;
  height: 2px;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4rem;
  border-bottom: 2px solid black;
  background-color: rgb(255, 254, 235);
  z-index: 100;
}
@media (max-width: 800px) {
  .navbar {
    top: 0;
    padding: 0.5rem 4rem;
  }
  .navbar.scrolled {
    background-color: rgb(255, 254, 235);
    border-bottom: 2px solid #000000;
    transition: background-color 200ms ease, border-bottom 200ms ease;
  }
}

.navbar__logo {
  padding: 5px;
  font-size: 2rem;
  text-decoration: none;
  font-family: "Archivo Black", sans-serif;
}
.navbar__logo:hover {
  scale: 1.2;
  transition: 100ms;
}

.navbar__menubtn {
  display: none;
}
@media (max-width: 800px) {
  .navbar__menubtn {
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    display: block;
    background-color: transparent;
    background-size: contain;
    width: 40px;
    height: 30px;
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar__menubtn.close .line-one {
    transform: rotate(45deg);
    transform-origin: 1px;
    transition: 150ms ease;
  }
  .navbar__menubtn.close .line-two {
    display: none;
  }
  .navbar__menubtn.close .line-three {
    transform: rotate(-45deg);
    transform-origin: 0;
    transition: 150ms ease;
  }
}

@media (max-width: 800px) {
  .menubtn__line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000000;
  }
  .menubtn__line .line-one, .menubtn__line .line-three {
    transition: 100ms ease-in-out;
  }
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  transition: 100ms;
}
@media (max-width: 800px) {
  .navbar__container {
    gap: 1rem;
  }
}

.menu-container {
  gap: 3.75rem;
}
@media (max-width: 800px) {
  .menu-container {
    height: 0;
    flex-direction: column;
    gap: 0;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    top: 100%;
    right: calc(0% + 2.6666666667rem);
    transition: height 200ms ease, padding 200ms ease, gap 200ms ease;
  }
  .menu-container.show {
    height: 15rem;
    padding: 30px;
    border: 2px solid #000000;
    border-top-color: rgb(255, 254, 235);
    border-top-width: 4px;
    gap: 1.5rem;
    background-color: rgb(255, 254, 235);
    transition: height 200ms ease, padding 200ms ease, gap 200ms ease, background-color 200ms ease;
  }
  .menu-container.show .menu__item {
    display: block;
  }
}

.menu__item {
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding: 5px;
  cursor: pointer;
  border: 2px solid transparent;
}
@media (max-width: 800px) {
  .menu__item {
    display: none;
  }
}
.menu__item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #000000;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}
.menu__item:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}
.menu__item.active {
  border: 2px solid #000000;
}
.menu__item.active::after {
  content: "";
  position: absolute;
  width: 0;
  background-color: #000000;
  left: 0;
  bottom: 0;
  transition: none;
}
.menu__item.active::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #000000;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}

/* Landing */
.landing {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8.33%;
  margin-inline: 4rem;
  height: calc(100dvh - 76px);
}
@media (min-width: 1450px) {
  .landing {
    margin-inline: calc((100vw - 1450px) / 2);
  }
}
@media (max-width: 800px) {
  .landing {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 0;
    margin-bottom: 40px;
    margin-inline: 0;
    gap: 28px;
    position: relative;
  }
}

.landing__col1 {
  background-image: url("../assets/images/desktop/block.png");
  background-repeat: no-repeat;
  background-size: contain;
  flex-basis: 620px;
  padding-left: clamp(10px, 9vw, 140px);
  padding-right: 3vw;
}
@media (max-width: 1350px) {
  .landing__col1 {
    background-image: url("../assets/images/tablet/block-tablet.png");
    background-size: cover;
  }
}
@media (max-width: 800px) {
  .landing__col1 {
    padding-left: 13vw;
    padding-right: 3rem;
    background-size: contain;
    flex-basis: content;
  }
}
@media (max-width: 540px) {
  .landing__col1 {
    background-image: url("../assets/images/mobile/block-mobile.png");
    background-size: cover;
    padding-right: 1rem;
  }
}
@media (max-width: 380px) {
  .landing__col1 {
    background-image: url("../assets/images/mobile/up-block-mobile.png");
    background-size: contain;
  }
}
.landing__col1 .h-1 {
  margin-top: 12px;
  margin-bottom: 46px;
}
@media (max-width: 1350px) {
  .landing__col1 .h-1 {
    margin-bottom: 6%;
  }
}
@media (max-width: 1000px) {
  .landing__col1 .h-1 {
    margin-top: 5%;
    margin-bottom: 9%;
  }
}
@media (max-width: 800px) {
  .landing__col1 .h-1 {
    margin-top: 3.5dvw;
    margin-bottom: 6dvw;
  }
}
@media (max-width: 540px) {
  .landing__col1 .h-1 {
    margin-top: 7dvw;
    margin-bottom: 8dvw;
  }
}
.landing__col1 .h-2 {
  margin-bottom: 57px;
}
@media (max-width: 800px) {
  .landing__col1 .h-2 {
    margin-bottom: 6dvw;
  }
}
@media (max-width: 540px) {
  .landing__col1 .h-2 {
    margin-bottom: 6dvw;
  }
}
.landing__col1 .text {
  margin-bottom: 100px;
  padding: 5px;
  background-color: rgba(255, 254, 235, 0.438);
}
@media (max-width: 800px) {
  .landing__col1 .text {
    padding-bottom: 30px;
  }
}
@media (max-width: 540px) {
  .landing__col1 .text {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
}
@media (max-width: 380px) {
  .landing__col1 .text {
    background-color: rgba(122, 122, 122, 0.44);
  }
}

.landing__col2 {
  flex-shrink: 4;
}
@media (max-width: 800px) {
  .landing__col2 {
    position: static;
    bottom: 0;
    display: flex;
    justify-content: center;
  }
}
.landing__col2 img {
  width: 100%;
}
@media (max-width: 800px) {
  .landing__col2 img {
    width: 80%;
  }
}

/* About */
.about {
  background-color: rgb(255, 254, 235);
  background-image: url("../assets/images/desktop/about.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8vw;
  position: relative;
  overflow: hidden;
  z-index: 3;
}
@media (min-width: 1450px) {
  .about {
    margin-inline: calc((100vw - 1450px) / 2);
  }
}
@media (max-width: 1350px) {
  .about {
    flex-direction: column;
    background-image: none;
    gap: 8vw;
    overflow: hidden;
  }
}

.about__illustration {
  display: none;
}
@media (max-width: 1350px) {
  .about__illustration {
    display: block;
  }
}

.about__col {
  background-color: rgba(255, 254, 235, 0.7);
}
@media (max-width: 1350px) {
  .about__col {
    max-width: 433px;
  }
}

/* Projects */
.projects {
  position: relative;
  z-index: 2;
  text-align: center;
  min-height: 100vh;
  margin-bottom: 5rem;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(390px, 400px));
  justify-content: center;
  gap: 40px;
  padding: 2rem;
}
@media (max-width: 1000px) {
  .projects__container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container_col {
  justify-self: center;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background-image: url("../assets/images/desktop/simplex.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.container_col .text {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: rgb(255, 254, 235);
  width: 330px;
}

.col__project {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 330px;
  max-width: 70vw;
  aspect-ratio: 1.5;
  transition: 200ms;
}
.col__project:hover {
  scale: 1.1;
  transition: 200ms;
}

.project1 {
  background-image: url("../assets/images/desktop/project1.png");
}

.project2 {
  background-image: url("../assets/images/desktop/project2.png");
}

.project3 {
  background-image: url("../assets/images/desktop/project3.png");
}

.project4 {
  background-image: url("../assets/images/desktop/project4.png");
}

/* Contact */
.contact {
  margin-top: 5rem;
  margin-bottom: 5rem;
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials {
  display: flex;
  gap: 2rem;
  align-self: center;
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 380px) {
  .contact__container {
    align-items: center;
  }
}

.contact__anchor {
  padding: 15px;
}
.contact__anchor:hover .contact__link {
  box-shadow: inset 0 -2em 0 rgb(0, 0, 0);
  border-bottom: 2px solid #000000;
  color: rgb(255, 254, 235);
}
.contact__anchor:hover .contact__icon {
  cursor: pointer;
  scale: 1.2;
  transition: 200ms;
}

.contact__icon {
  width: 50px;
}
@media (max-width: 400px) {
  .contact__icon {
    width: 1rem;
  }
}
@media (max-width: 380px) {
  .contact__icon {
    display: none;
  }
}

.container__col {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}/*# sourceMappingURL=styleredone.css.map */