input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

//VARIABLES
$backgroundColor: rgb(255, 254, 235);
$textPrimaryColor: #000000;

$headersFont: 'Archivo Black',sans-serif;
$mainFont: 'Space Mono',monospace;

$tablet: 800px;

$paddingInline: 4rem;

//UTILITY
.h-1 {
    font-family: $headersFont;
    font-size: 4.5vw;
    text-transform: uppercase;
}

.h-2 {
    font-family: $headersFont;
    font-size: 2vw;
    text-transform: uppercase;
}

.text {
    font-family: $mainFont;
    font-size: 1.2vw;
    text-align: justify;
}

.text-outline {
    -webkit-text-stroke: 1px $textPrimaryColor;
    color: transparent;
}

.scroll-filling {
    height: 100vh;
}

.rule {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    bottom: 40px;
}

body {
    background-color: $backgroundColor;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem $paddingInline;
    border-bottom: 2px solid black;
    background-color: $backgroundColor;
    z-index: 100;
    .navbar__menubtn {
        display: none;
    }
    .navbar__container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        .navbar-logo {
            & img {
                width: 40px;
            }
        }
        .menu__item {
            font-family: $mainFont;
            font-size: calc(20rem/16);
            text-decoration: none;
            text-transform: uppercase;
            color: $textPrimaryColor;
            position: relative;
            padding: 5px;
            cursor: pointer;
            border: 2px solid transparent;
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                background-color: $textPrimaryColor;
                left: 0;
                bottom: 0;
                transition: width 0.3s ease-in-out;
            }
            &:hover::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $textPrimaryColor;
                left: 0;
                bottom: 0;
                transition: width 0.3s ease-in-out;
            }
            &.active {
                border: 2px solid $textPrimaryColor;
            }
            &.active::after {
                content: "";
                position: absolute;
                width: 0;
                background-color: $textPrimaryColor;
                left: 0;
                bottom: 0;
                transition: none;
            }
            &.active::before {
                content: "";
                position: absolute;
                width: 0;
                height: 100%;
                background-color: $textPrimaryColor;
                left: 0;
                bottom: 0;
                transition: width 0.3s ease-in-out;
            }
        }
    }
    .menu-container {
        gap: calc(60rem/16);
    }
}

.landing {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8.33%;
    margin-inline: $paddingInline;
    height: calc(100dvh - 76px);
    .col-1 {
        background-image: url("../assets/images/desktop/block.png");
        background-repeat: no-repeat;
        background-size: cover;
        flex-basis: 50vw;
        padding-left: 9vw;
        padding-right: 3vw;
        .h-1 {
            margin-bottom: 2.3vw;
        }
        .h-2 {
            margin-bottom: 3vw;
        }
        .text {
            padding-bottom: 5vw;
        }
    }
    .col-2 {
        & img {
            width: 100%;
        }
    }
}

.about {
    background-color: $backgroundColor;
    background-image: url("../assets/images/desktop/about.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    position: relative;
    z-index: 2;
}

@media (max-width: $tablet) {
    $paddingInline: 2rem;
    .h-1 {
            font-size: 8vw;
        }
    
        .h-2 {
            font-size: 5vw;
        }
    
        .text {
            font-size: 2.5vw;
        }
    .navbar {
        top: 0;
        padding: 1rem $paddingInline;
        &.scrolled {
            background-color: $backgroundColor;
            border-bottom: 2px solid $textPrimaryColor;
            transition: background-color 200ms ease, border-bottom 200ms ease;
        }
        .navbar__container {
            gap: 1rem;
        }
        .menu-container {
                height: 0;
                flex-direction: column;
                gap: 0;
                padding-left: 30px;
                padding-right: 30px;
                position: absolute;
                top: calc(100%);
                right: calc(0% + ($paddingInline/1.5));
                transition: height 200ms ease, padding 200ms ease, gap 200ms ease;
            .menu__item {
                display: none;
                }
            &.show {
                height: 15rem;
                padding: 30px;
                border: 2px solid $textPrimaryColor;
                border-top-color: $backgroundColor;
                border-top-width: 4px;
                gap: 1.5rem;
                background-color: $backgroundColor;
                transition: height 200ms ease, padding 200ms ease, gap 200ms ease, background-color 200ms ease;
                .menu__item {
                    display: block;
                    }
                }
            }
        .navbar__menubtn {
            backdrop-filter: none;
            display: block;
            background-color: transparent;
            background-size: contain;
            width: 40px;
            height: 30px;
            cursor: pointer;
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .menubtn__line {
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-color: $textPrimaryColor;
                }
            .line-one, .line-three {
                transition: 100ms ease-in-out;
            }
            &.close {
                .line-one{
                    transform: rotate(45deg);
                    transform-origin: 1px;
                    transition: 150ms ease;
                }
                .line-two {
                    display: none;
                }
                .line-three {
                    transform: rotate(-45deg);
                    transform-origin: 0;
                    transition: 150ms ease;
                }
            }
        }
    }

    .landing {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        margin-top: 28px;
        margin-bottom: 40px;
        margin-inline: 0;
        gap: 28px;
        .col-1 {
            padding-left: 13vw;
            padding-right: $paddingInline;
            background-size: contain;
            flex-basis: content;
            .h-1 {
                margin-top: 3.5vw;
                margin-bottom: 6vw;
            }
            .h-2 {
                margin-bottom: 5.25vw;
            }
            .text {
                padding-bottom: 24px;
            }
        }
        .col-2 {
            position: absolute;
            bottom: 76px;
            display: flex;
            justify-content: center;
            & img {
                width: 80%;
            }
        }
    }

    .about {
        flex-direction: column;
        background-image: url("../assets/images/tablet/about.png");
        gap: 16vw;

    }
}